node_modules/
dist/
.env
*.log
.turbo/
.DS_Store
Thumbs.db

# Prisma
packages/server/prisma/migrations/

# Build
packages/client/dist/
packages/server/dist/
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo
